.profile-container {
	padding: 20px 15%;
	color: #626262;
}
.cover-img {
	width: 100%;
	height: auto;
	border-radius: 6px;
	margin-bottom: 14px;
}
.profile-details {
	background: var(--bg-color);
	padding: 20px;
	border-radius: 4px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.profile-detail-row {
	display: flex;
	align-items: flex-start;
}
.profile-details .pd-image {
	width: 100px;
	height: auto;
	margin-right: 20px;
	border-radius: 6px;
}
.profile-detail-row div h3 {
	font-size: 25px;
	font-weight: 600;
}
.profile-detail-row div p {
	font-size: 13px;
}
.profile-detail-row div img {
	display: inline-block;
	width: 25px;
	height: auto;
	border-radius: 50%;
	margin-top: 12px;
}
.profile-detail-right button {
	background: #1876f2;
	border: 0;
	outline: 0;
	padding: 6px 10px;
	display: inline-flex;
	align-items: center;
	border-radius: 3px;
	color: #fff;
	margin-left: 10px;
	cursor: pointer;
}
.profile-detail-right button img {
	height: 15px;
	width: auto;
	margin-right: 10px;
}
.profile-detail-right button:first-child {
	background: #e4e6eb;
	color: #000;
}
.profile-detail-right {
	text-align: right;
}
.profile-detail-right a {
	background: #e4e6eb;
	border-radius: 3px;
	padding: 12px;
	display: inline-flex;
	margin-top: 30px;
}
.profile-detail-right a img {
	width: 20px;
	height: auto;
}
.profile-info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 20px;
}
.info-col {
	flex-basis: 33%;
}
.post-col {
	flex-basis: 65%;
}
.profile-intro {
	background: var(--bg-color);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
}
.profile-intro h3 {
	font-weight: 600;
}
.intro-text {
	text-align: center;
	margin: 10px 0;
	font-size: 15px;
}
.intro-text img {
	width: 15px;
	height: auto;
	margin-bottom: -3px;
	display: inline-block;
}
.profile-intro hr {
	border: 0;
	height: 1px;
	background: #ccc;
	margin: 24px 0;
}
.profile-intro ul li {
	list-style: none;
	font-size: 15px;
	margin: 15px 0;
	display: flex;
	align-items: center;
}
.profile-intro ul li img {
	width: 26px;
	height: auto;
	margin-right: 10px;
}
.title-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title-box a {
	text-decoration: none;
	color: #1876f2;
	font-size: 14px;
}
.photo-box,
.friends-box {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 10px;
	margin-top: 15px;
}
.photo-box img,
.friends-box img {
	cursor: pointer;
	padding-bottom: 25px;
	width: auto;
	height: auto;
}

.profile-intro p {
	font-size: 14px;
}
.friends-box div {
	position: relative;
}
.friends-box p {
	position: absolute;
	bottom: 0;
	left: 0;
}
.friends-box div {
	position: relative;
}

/* Media Queries */
@media (max-width: 900px) {
	.profile-container {
		padding: 20px 5%;
	}
	.profile-details {
		flex-wrap: wrap;
	}
	.profile-detail-right {
		text-align: left;
		margin-top: 15px;
	}
	.profile-detail-right button {
		margin-right: 10px;
		margin-left: 0;
	}
	.profile-detail-row div h3 {
		font-size: 16px;
	}
	.profile-info {
		flex-wrap: wrap;
	}
	.info-col,
	.post-col {
		flex-basis: 100%;
	}
    .photo-box,
.friends-box {
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
}
}
